# Ignore my personal configuration files & documents.
doc/

# Ignore the zig build directory
.zig-cache/

# npm pack artifacts
*.tgz
build.zig.zon
zig-out/

# VSCode settings and extensions
.vscode/

# Node modules
node_modules/

# TypeScript build output
dist/

# Environment variables
.env.development
.env.production
.env.local
.env
